{% extends 'base.html' %} {% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <h2>{{title}}</h2>
</div>
<div class="row">
    {% for i in object_list %}
    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="caption">
                <a href="{% url 'posts:detail' id=i.id %}">{{ i.title}}</a>
                <a href="{{ i.get_absolute_url }}">{{ i.title}}</a>
                <h3>{{ i.content | linebreaks | truncatechars:120 }}</h3>
                <div>{{ i.update }}</div>
                <div>{{ i.timestamp | timesince }} ago</div>
                <a href="{{ i.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
            </div>
        </div>
    </div>
    <!-- {% cycle "" "</div><hr/><div class='row'>" %}  -->
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span> {% if object_list.has_next %}
        <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a> {% endif %}
        </span>
    </div>
</div>
{% endblock %}
